<a asp-action="Index" asp-controller="Home" style="display:flex; justify-content:center; align-items:center; height:100%" class="text-danger">
   <h1><u>You don't have permission to access</u></h1>
</a>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
