@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center" style="margin:0 0;padding:0 0;margin-top:100px">
        <h1>Welcome !!!</h1>
    </div>
}
else
{
    <div class="text-center" style="margin:0 0;padding:0 0;margin-top:100px">
        <h1>Please Login First!</h1>
    </div>
}
    


