@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="~/picture/ad-banner-7.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="~/picture/ad-banner-3-2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="~/picture/ad-banner-1-2.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="footer">
            <div class="tu" style="background-color:gray"><i class="fa-solid fa-at"></i> Made by NGO VAN TIN</div>
            <div class="more-info" style="background-image: linear-gradient(to top, rgb(32, 32, 32),gray)">Thank You For Buying<span>New Shoes Are Always A Good Idea!</span></div>
            <div class="ct-info">
                <ul class="list-ct">
                    <li>__Contact with us:</li>
                    <li><i class="fa-solid fa-envelope"></i> Email: ngovantin28072002@gmail.com</li>
                    <li><i class="fa-brands fa-facebook"></i> Facebook: https://www.facebook.com/nvtins</li>
                    <li><i class="fa-brands fa-instagram"></i> Instagram: https://www.instagram.com/nggvt/</li>
                    <li><i class="fa-brands fa-twitter"></i> Twitter: https://twitter.com/nvtines</li>
                    <li>Hotline: +84 093 107 7728</li>
                </ul>
            </div>
        </div>
       
}
else
{
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="~/picture/ad-banner-7.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/picture/ad-banner-3-2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/picture/ad-banner-1-2.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}
    


