@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <form method="get" asp-action="ProductSearch" asp-controller="Search" class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input name="proName" type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button type="submit" style="background-color:gray; border-color: gray" class="btn btn-primary" id="btnNavbarSearch"><i class="fas fa-search"></i></button>
        </div>

    </form>
    @if (User.IsInRole("Admin"))
    {            
        <form method="post" asp-controller="User" asp-action="Logout" style="margin-left:50px">
            <a style="text-decoration:none;color:gray"><i class="fa-solid fa-user"></i> <b>@User.Identity?.Name (Admin)</b></a>
            <button class="bg-dark text-white" type="submit" style="border:none;margin-left:40px;margin-right:20px;text-decoration:none"><i class="fa-solid fa-right-from-bracket"></i> <b>Logout</b></button>
        </form>
    }
    else
    {             
        <form method="post" asp-controller="User" asp-action="Logout" style="margin-left:50px">
            <a style="text-decoration:none;color:gray"><i class="fa-solid fa-user"></i> <b>@User.Identity?.Name</b></a>
            <button class="bg-dark text-white" type="submit" style="border:none;margin-left:40px;margin-right:20px;text-decoration:none"><i class="fa-solid fa-right-from-bracket"></i> <b>Logout</b></button>
        </form>
    }    
}
else
{
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <a class="text-white" asp-controller="User" asp-action="Login" style="text-decoration:none"><i class="fa-solid fa-right-to-bracket"></i> <b>Login</b></a>
        <a class="text-white" asp-controller="User" asp-action="Register" style="margin-left:40px;margin-right:20px;text-decoration:none"><i class="fa-regular fa-user"></i> <b>Register</b></a>
    </form>
}

